#schedule {
	margin-top: 10px;
}

.Room {
	/*width: 500px;*/
	padding: 10px;
}

.Event {
	/*width: 500px;*/
	height: 20px;
}

.RoomName {
	text-align: center;
	margin: 5px;
}

.EventTitle {
	font-size: 14px;
	font-weight: bold;
	float: left;
}
.EventTime {
	float: right;
}

.now {
	color: green;
}

.Time {
	text-align: center;
	font-size: 50px;
	height: 25px;
}

#news {
  width: 100%;
  /*height: 50px;*/
  white-space: nowrap;
  overflow: hidden;
  margin-top: 5px;
} 

#news-data {
  position: relative;
  display: inline-block;
  font-size: 14px;
  margin: 0;
}
