#tweets {
	margin-top: 10px;
}
#search {
	margin-top: 10px;
	margin-left: 10px;
}
html {
	overflow: hidden;
	/*cursor: none;*/
}
.tweet-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
        margin-top: 10px;
        height: 200px;
}
#tweets .well {
	margin-bottom: 5px;
        padding: 10px 10px 10px 50px;
        position: relative;
        min-height: 60px;
}
.profile-image {
	position: absolute;
	top: 10px;
	left: 5px;
	height: 40px;
}
